@page "/"

<h1>Facile Budget</h1>

<p>&nbsp;</p>
<h4>Piattaforma in ASP.NET Core Blazor WebAssembly per la gestione di budget a livello familiare.</h4>

<p>&nbsp;</p>
<p>Per iniziare cliccare sulla voce <b>Spese</b>. Grazie</p>