<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label id="Descrizione" class="control-label">Descrizione</label>
            <InputText id="Descrizione" class="form-control form-control-lg" @bind-Value="spesa.Descrizione" placeholder="Descrizione"></InputText>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label id="Importo" class="control-label">Importo</label>
            <div class="input-group">
                <InputSelect @bind-Value="spesa.Importo_Currency" class="form-control form-control-lg">
                    <option value=""></option>
                    @foreach (Enum item in Enum.GetValues(typeof(Currency)))
                    { 
                        <option value="@item">@item.ToString()</option> 
                    } 
                </InputSelect>
                @*<InputText type="number" step="any" @bind-Value="spesa.Importo_Amount" class="form-control form-control-lg" placeholder="Importo"></InputText>*@
                <InputText @bind-Value="spesa.Importo_Amount" class="form-control form-control-lg" placeholder="Importo"></InputText>
            </div>
        </div>
    </div>
</div>

@code {
	[Parameter]
	public SpeseCreateInputModel spesa { get; set; }
}